html {
    font-size: calc(18px + 0.390625vw);
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #cabcb5;
}
/*=============
header
==============*/
header {
    padding: 5vw 5vw 5vw 5vw;
    & nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & ul{
            display: flex;
            & li{
                margin: 0px 5px 5px 0px;

            }
        }
        & h1{
            font-weight: bold;
            font-size: 3rem;
        }
    }
}
header nav ul li.atual a{
color: black;
}
header a{
    color: white;
}
/*banner*/
section.banner{
    display: flex;
    padding: 2vw 5vw 2vw 5vw;  
}
section.banner h3{
color:black;
font-weight: bold;
}