html {
    font-size: calc(18px + 0.390625vw);
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*=============
header
==============*/
header {
    text-align: center;
}

header nav ul li {
    margin: 10px 0 10px 0;

}
header nav ul li a {
    color: black;
    text-decoration: none;
}
/*==============
banner
================*/
section.banner {
    text-align: center;
    margin: 0 5vw 0 5vw;
}
section.banner h1 {
    font-size:2rem;
    font-weight:bold; 
}
section.banner p {
 margin: 10px 0 10px 0;
 line-height: 1.3rem;
}
section.banner button {
background-color: #FF6464;
color: white;
border: none;
border-radius: 2px;
padding: 6px 4px 6px 4px;
}
/*=============
posts
==============*/
section.posts{
background-color: #edf7fa;
padding: 5vw 4vw 4vw 5vw;
}
section.posts h2{
text-align: center;
}
section.posts ul li{
background-color: white;
margin: 3vw 0vw 3vw 0vw;
padding: 3vw 5vw 4vw 2vw;
box-shadow: 0px 4px 10px lightblue;
border-radius: 3px;
}
section.posts ul li h3{
    font-size: 1.3rem;
    font-weight: bolder;  
}
section.posts ul li p{
    padding: 2vw 0vw 2vw 0vw;
    font-size: 1.3rem;
    line-height: 1.5rem;
}
/*=============
works
==============*/
section.works{
padding: 5vw 3vw 5vw 3vw;
}
section.works h2{
text-align: center;
font-size: 1.3rem;
}
section.works ul li h3{
    font-weight: bolder;
    font-size: 1.8rem;
    margin: 10px 0 10px 0;
}
section.works li p span{
    font-weight: bolder;
background-color: #142850 ;
color: white;
padding: 4px 8px 4px 8px;
border-radius: 30px;
}
section.works p.info{
color:#8695a4;
}
section.works ul li p{
margin: 2vw 0vw 2vw 0vw;
line-height: 1.5rem;
}
/*====================================================================== */
 footer{
    text-align: center;
    margin: 15px 0 15px 0;
 }
 footer nav a{
    color: black;
    font-size: 1.7rem;
 }
footer p{
    padding: 17px;
}