@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: calc(18px + 0.390625vw);
}

body p,
nav,
strong {
  line-height: 1.08rem;
}

body {
  background-color: rgba(236, 236, 210, 0.99);
  font-family: "Merriweather", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display SC", serif;
  color: rgb(20, 61, 20);
  font-weight: bold;
}

main p {
  margin-bottom: 8px;
  line-height: 1.4;
}

img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.alimentacao-equlibrada img {
  width: auto;
  height: auto;
  object-fit: none;
}

header h1,
section h1,
section h2 {
  text-align: center;
}

header p,
section p,
body p {
  margin: 0 auto;
  max-width: 1200px;
}

body,
header,
section,
.alimentacao-equilibrada {
  text-align: justify;
  text-justify: inter-word;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: rgb(66, 62, 62);
}

ol {
  list-style-type: disc;
  margin-left: 50px;
}

.equipe {
  border-radius: 50px;
}

a {
  text-decoration: none;
}

/*=============
header
==============*/

header {
  padding: 2vw 5vw 2vw 5vw;
  background-color: #253f38;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
}

header li {
  margin: 6px 6px 6px 6px;
}

header h1 {
  font-size: 3rem;
}

header nav ul li.atual a {
  color: rgb(216, 216, 126);
}

header a {
  color: white;
}

header nav img {
  margin-bottom: 0;
  width: 8px;
  border-radius: 20px;
}

header nav h1 {
  font-size: 2.5rem;
  text-align: center;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

header nav img {
  width: 7vw;
  height: auto;
  border-radius: 5vw;
}

header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav h1,
header nav p {
  text-align: center;
  margin: 10px 0;
  line-height: 1.3;
}

header nav ul li ul {
  display: none;
  position: absolute;
}

header nav ul li:hover ul {
  display: block;
}
header button {
  width: 8vw;
  background-color: #d6d2b8;
  border-radius: 1.2vw;
  display: none;
}
/*banner*/

section.banner {
  padding: 2vw 10vw 2vw 10vw;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

section.banner .textos {
  display: flex;
  align-items: flex-start;
}
section.banner .vida p {
  line-height: 1.5;
}
section.banner a {
  color: #a5b170;
  font-weight: bold;
  font-size: 0.9rem;
}

section.banner p a {
  color: #a5b170;
}

.logo-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-bottom: 0px;
}

.logo-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo-menu img {
  width: 120px;
  height: auto;
  border-radius: 50%;
}

section.banner div.img p {
  display: flex;
  text-align: center;
}

section.banner .cardapio {
  background-color: #d6d2b8;
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 15px;
  padding: 2vw 2vw 2vw 2vw;
  box-shadow: 0 0 8px #586909;
}
section.banner .parte02 {
  border-radius: 100vw;
}
section.banner div.tex p {
  border-radius: 18px;
  line-height: 1.9;
  font-size: 0.9rem;
}
section.banner .espaco h6 {
  line-height: 1.6;
}

section.banner .img {
  width: 30vw;
  height: auto;
  border-radius: 15px;
}

section.banner .alimentacao {
  background-color: #d6d2b8;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 22px;
  padding: 20px;
  box-shadow: 0 0 8px #374207;
  margin-right: 100px;
}

section.banner div.resumo p {
  border-radius: 17px;
  line-height: 1.6;
  font-size: 1rem;
}

section.banner .yoga {
  width: 38px;
  height: auto;
}

section.banner .informacao {
  background-color: #d6d2b8;
  align-items: flex-start;
  gap: 20px;
  border-radius: 22px;
  padding: 20px;
  box-shadow: 0 0 8px #374207;
}

section.banner div.saudavel p {
  border-radius: 17px;
  line-height: 1.6;
  font-size: 1rem;
}

section.banner .fibras {
  width: 58vw;
  height: auto;
}

section.banner .prevencao {
  background-color: #d6d2b8;
  align-items: flex-start;
  gap: 20px;
  border-radius: 22px;
  padding: 20px;
  box-shadow: 0 0 8px #374207;
}

section.banner div.pre p {
  border-radius: 17px;
  line-height: 1.6;
  font-size: 1rem;
}

section.banner .salada {
  width: 58vw;
  height: auto;
}

section.banner .sono {
  background-color: #d6d2b8;
  align-items: flex-start;
  gap: 20px;
  border-radius: 22px;
  padding: 20px;
  box-shadow: 0 0 8px #374207;
}

section.banner div.dicas p {
  border-radius: 17px;
  line-height: 1.6;
  font-size: 1rem;
}

section.banner .yoga {
  width: 58vw;
  height: auto;
}
section.banner .a a {
  background-color: #b3a46b;
  color: white;
  padding: 0.4vw 1vw 0.4vw 1vw;
  border-radius: 9px;
  gap: 20vw;
  font-size: 0.6rem;
  font-weight: bold;
}

section.banner .cardapio2 {
  background-color: #d6d2b8;
  display: flex;
  gap: 40px;
  border-radius: 22px;
  padding: 3vw 3vw;
  box-shadow: 0 0 8px #58661a;
  justify-content: center;
  align-items: center;
}

section.banner div.lactose p {
  line-height: 1.6;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}
section.banner div.lactose h4 {
  font-size: 1.7rem;
  padding: 2vw 2vw;
}

section.banner .comida {
  width: 38vw;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

section.banner .trocas {
  background-color: #d6d2b8;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border-radius: 22px;
  padding: 20px;
  box-shadow: 0 0 8px #374207;
}

section.banner div.textos p {
  border-radius: 17px;
  line-height: 1.6;
  font-size: 1rem;
}

section.banner .saudavel {
  width: 58vw;
  height: auto;
}

section.banner .dapio {
  background-color: #d6d2b8;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 22px;
  padding: 20px;
  box-shadow: 0 0 8px #374207;
  margin-right: 100px;
}

section.banner div.forte p {
  border-radius: 17px;
  line-height: 1.6;
  font-size: 1rem;
}

section.banner .equilibrio {
  width: 68;
  height: auto;
}

section.banner .fortalece {
  background-color: #d6d2b8;
  align-items: flex-start;
  gap: 20px;
  border-radius: 22px;
  padding: 20px;
  box-shadow: 0 0 8px #374207;
}

section.banner div.sistema p {
  border-radius: 17px;
  line-height: 1.6;
  font-size: 1rem;
}

section.banner .imune {
  width: 58vw;
  height: auto;
}

section.banner .saudave {
  background-color: #d6d2b8;
  align-items: flex-start;
  gap: 20px;
  border-radius: 22px;
  padding: 20px;
  box-shadow: 0 0 8px #374207;
}

section.banner div.melhor p {
  border-radius: 17px;
  line-height: 1.6;
  font-size: 1rem;
}

section.banner .c {
  width: 58vw;
  height: auto;
}
section.banner div.pratica p {
  border-radius: 17px;
  line-height: 1.6;
  font-size: 0.9rem;
  padding: 3px 5px;
  padding: 5vw 2vw 5vw 2vw;
}

section.banner .fisica {
  width: 40vw;
  border-radius: 20vw;
}
section.banner .exemplos {
  background-color: #566964;
  border-radius: 20px;
  padding: 2vw 10vw 2vw 10vw;
  box-shadow: 1px #58680f;
  width: 80;
  margin: 4.8vw 0.3vw;
  text-align: left;
}

section.banner .exemplos p {
  color: white;
  text-align: center;
  font-size: 0.9rem;
  text-align: center;
  text-align: left;
}
section.banner .ali p {
  line-height: 1.5;
  font-size: 1rem;
}
section.banner .imagens {
  background: #b9af8c;
  box-shadow: 1px #a5b170;
  border-radius: 12vw;
  gap: 20px;
  display: flex;
}
section.banner .ultra {
  border-radius: 20vw;
}
section.banner .imagens a {
  background-color: #8f7d3c;
  color: white;
}
section.banner .texs h4 {
  font-weight: bold;
  font-size: 1rem;
}
section.banner .atividade ul li p {
  font-size: 0.7rem;
  padding: 1vw 1.4vw 1vw 1.4vw;
}
section.banner .atividade {
  border-radius: 80vw;
  text-align: center;
  display: flex;
  padding: 0 6vw 0vw 6vw;
  flex-wrap: wrap;
}
section.baner .atividade ul li {
  align-items: center;
  padding: 0.6vw 1vw;
  font-size: 0.6rem;
  color: white;
  border-radius: 20px;
}
section.banner .b h2 {
  line-height: 1.6;
}
section.banner .espaco h3 {
  line-height: 2.3;
}
section.banner .espaco {
  line-height: 1.8;
}
/*receitas*/
section.receitas {
  justify-content: center;
  align-items: center;
  padding: 2vw 10vw 2vw 10vw;
  margin: 10px 5px;
  background-color: #f6f6f6;
}

/*noticias*/
section.noticias {
  padding: 2vw 2vw 2vw 2vw;
  font-family: "Merriweather", sans-serif;
}
section.noticias .equipe {
  display: flex;
  background-color: #d6d2b8;
  box-shadow: 0px 0px 8px #8fa52b;
  border-radius: 20px;
  padding: 2vw 2vw 2vw 2vw;
}

section.noticias .comentario p {
  font-size: 0.7rem;
  text-align: center;
  display: flex;
}

section.noticias .comentario h4 {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
}

section.noticias .lider {
  width: 30vw;
}

section.noticias .manual {
  border-radius: 80vw;
  text-align: center;
  display: flex;
  padding: 2vw 1vw 2vw 1vw;
  flex-wrap: wrap;
}

section.noticias p {
  align-items: center;
  padding: 1vw 3vw 1vw 3vw;
  line-height: 1.5;
  font-size: 1rem;
}
section.noticias img {
  border-radius: 12px;
}
section.noticias ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 5vw 1vw 5vw 1vw;
  list-style: none;
}

section.noticias .manual ul li {
  background-color: #d6d2b8;
  border-radius: 15px;
  box-shadow: 0 0 8px #374207;
}

section.noticias ul li h4 {
  font-size: 0.8rem;
}
section.noticias .ideia {
  border-radius: 80vw;
  text-align: center;
  display: flex;
  padding: 0 6vw 0vw 6vw;
  flex-wrap: wrap;
  font-family: "Merriweather", sans-serif;
  flex-wrap: wrap;
}

section.noticias .ideia3 {
  border-radius: 80vw;
  text-align: center;
  display: flex;
  padding: 2vw 8vw 2vw 8vw;
  flex-wrap: wrap;
}

section.noticias .ideia3 ul li {
  align-items: center;
  padding: 0.6vw 1vw;
  font-size: 0.6rem;
  color: white;
  border-radius: 20px;
}

section.noticias .ideia3 ul li a {
  align-items: center;
  padding: 0px 5px 0px 5px;
  font-size: 0.6rem;
  background-color: #8f7d3c;
  color: white;
  border-radius: 20px;
}
section.noticias .ideia3 h4 {
  font-size: 1rem;
  line-height: 1.6;
}

section.noticias .ideia ul li {
  align-items: center;
  padding: 0.6vw 1vw;
  font-size: 0.6rem;
  color: white;
  border-radius: 20px;
}
section.noticias .ideia ul li a {
  align-items: center;
  padding: 0px 5px 0px 5px;
  font-size: 0.6rem;
  background-color: #8f7d3c;
  color: white;
  border-radius: 20px;
}
section.noticias .ideia h4 {
  font-size: 1rem;
  line-height: 1.6;
}
section.noticias .a a {
  background-color: #b3a46b;
  color: white;
  padding: 0.4vw 1vw 0.4vw 1vw;
  border-radius: 9px;
  gap: 20vw;
  font-size: 0.6rem;
  font-weight: bold;
}
section.noticias .manual ul li a {
  background-color: #b3a46b;
  color: white;
  border-radius: 6px;
  padding: 0px 10px 0px 10px;
  font-size: 0.7rem;
}
section.noticias .ideia ul li p {
  font-size: 0.7rem;
  padding: 1vw 1.4vw 1vw 1.4vw;
  color: white;
}
section.noticias .p p {
  padding: 2vw 10vw 2vw 10vw;
}
section.noticias .nos {
  display: flex;
  border-radius: 5vw;
  padding: 3vw 5vw 2vw 3vw;
  text-align: center;
  flex-wrap: wrap;
}
section.noticias .nos p {
  display: flex;
  font-size: 0.6rem;
  color: white;
  padding: 1vw 1.4vw 1vw 1.4vw;
}
section.noticias .nos img {
  width: 12vw;
  margin-right: 5vw;
}
section.noticias .nos h4 {
  font-size: 1.2rem;
  color: black;
}
section.noticias .nos ul li {
  box-shadow: 0 0 8px #8fa52b;
  display: flex;
  align-items: center;
  padding: 2vw 3vw 2vw 3vw;
  font-size: 0.6rem;
  color: white;
  border-radius: 20px;
}
section.noticias .ideia1 {
  border-radius: 80vw;
  text-align: center;
  display: flex;
  padding: 2vw 10vw 2vw 10vw;
  flex-wrap: wrap;
  font-family: "Merriweather", sans-serif;
  flex-wrap: wrap;
}
section.noticias .ideia1 ul li {
  align-items: center;
  padding: 10px 10px 10px 10px;
  font-size: 0.6rem;
  color: white;
  border-radius: 20px;
  background-color: #beb696;
  box-shadow: 0 0 8px #374207;
}
section.noticias .ideia1 ul li p {
  font-size: 0.6rem;
  padding: 1vw 1.4vw 1vw 1.4vw;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: left;
}
section.noticias .ideia1 h5 {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.6;
}
section.noticias .espaco {
  padding: 0vw 7vw 0vw 7vw;
  line-height: 1.6;
}
section.noticias .ideia1 a {
  background-color: #3a503f;
  color: white;
  border-radius: 10px;
  padding: 0px 8px 0px 8px;
  font-size: 0.6rem;
}
section.noticias .manual1 {
  border-radius: 80vw;
  text-align: center;
  display: flex;
  padding: 3vw 10vw 3vw 10vw;
  flex-wrap: wrap;
}
section.noticias .manual1 ul li {
  background-color: #d6d2b8;
  border-radius: 15px;
  box-shadow: 0 0 8px #374207;
}
section.noticias .manual1 ul li a {
  background-color: #a89b67;
  color: white;
  border-radius: 8px;
  padding: 0px 10px 0px 10px;
  font-size: 0.6rem;
}
section.noticias .manual1 ul li h3 {
  font-size: 0.8rem;
}
/*Vida-equilibrada*/

section.banner h1 {
  font-size: 2rem;
  text-align: center;
  line-height: 1.2;
  padding: 2vw 10vw 2vw 10vw;
  color: rgb(66, 104, 66);
}

section.banner p {
  margin: 4px 0px 4px 0px;
  line-height: 25px;
  font-size: 1rem;
}

section.banner strong {
  font-weight: bold;
  color: rgb(67, 87, 67);
}

section.banner p a {
  color: #58680f;
  text-align: left;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: underline;
}

section.banner p.text {
  font-size: 17px;
}

section.banner p img {
  width: 400px;
  height: auto;
  margin: 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section.banner h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

/*banner3 / Sobre nos*/

section.banner3 p img {
  width: 169px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

section.banner3 h1,
h2 {
  text-align: center;
  line-height: 1.6;
  font-size: 1.7rem;
}

section.banner3 p {
  padding: 4px 3px 4px 3px;
  line-height: 1.3;
}

section.banner3 .parte04 {
  border-radius: 20px;
}

/*banner4 / dicas*/
section.banner4 p img {
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 60px;
  padding: 3vw 10vw 3vw 10vw;
  background: #d6d2b8;
  text-align: left;
}

footer h3 {
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: rgb(57, 85, 57);
}

footer p {
  color: rgb(57, 85, 57);
  margin: 0 0 10px 0;
  font-size: 0.9rem;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(57, 85, 57);
}

footer nav ul li a {
  color: rgb(57, 85, 57);
  font-size: 0.8rem;
}

footer nav ul li {
  margin: 5px 0;
}

footer div nav a {
  color: rgb(57, 85, 57);
  font-size: 1rem;
  padding: 5px;
}

footer div h5 {
  margin-bottom: 17px;
  color: rgb(57, 85, 57);
  font-size: 1.4rem;
  font-weight: bold;
}
footer .bi ul li a {
  color: rgb(57, 85, 57);
}
footer div nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

footer a {
  color: rgb(57, 85, 57);
}

footer div p span {
  font-size: 0.6rem;
  color: rgb(57, 85, 57);
  font-weight: bold;
}

/*celulares*/

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  header nav ul {
    display: block;
  }

  header button {
    display: block;
  }

  header nav div > ul {
    /*display: none;*/
    height: 0px;
    overflow: hidden;
    transition: 1.1s height;
  }

  header nav {
    flex-direction: row-reverse;
  }
  header nav ul li ul {
    display: block;
    position: static;
  }

  header,
  main,
  footer {
    max-width: 800px;
    margin: 2vw auto;
  }

  section.banner .alimentacao {
    flex-wrap: wrap;
    margin-right: 2vw;
  }

  section.banner h1 {
    flex-wrap: wrap;
  }

  section.banner .cardapio {
    flex-wrap: wrap;
  }

  section.banner .cardapio2 {
    flex-wrap: wrap;
  }

  section.noticias .manual ul {
    flex-wrap: wrap;
  }

  section.noticias .manual1 ul {
    flex-wrap: wrap;
  }

  section.noticias .ideia ul {
    flex-wrap: wrap;
  }

  section.noticias .ideia1 ul {
    flex-wrap: wrap;
  }

  section.noticias .ideia3 ul {
    display: block;
  }

  section.noticias .nos ul {
    flex-wrap: wrap;
  }

  section.banner .atividade {
    flex-wrap: wrap;
  }

  footer {
    display: block;
  }
}
