html {
    font-size: calc(18px + 0.390625vw);
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #cabcb5;
}
/*=============
header
==============*/
header {
    text-align: center;
}

header h1 img{
    width: 10vw;
}

header nav ul li {
    margin: 10px 0 10px 0;

}
header nav ul li a {
    color: black;
    text-decoration: none;
}


strong{
    font-weight: bold;
}
